// =============================================================================
//
//  Settings
//  ========
//
//  @version    0.0.1
//  @package    PROJECTNAME
//
//==============================================================================
// Colors:

$main-color-darker: #454b5f;
$main-color-dark: #555d76;
$main-color: #636c8a;
$main-color-light: #737da1;
$main-color-lighter: #8591bc;
$main-color-lightest: #b2bac8;

$light-grey: #eee;
$grey: #cbced8;
$dark-grey: #4a4a4a;
$white: #fff;
$red: #ff4158;
$fern: #6db767;

$green-flashy: #22fc25;
$green-active: #21b073;
$green-accept: #148a5b;
$yellow-paused: #f1eb2b;
$yellow-draw: #f0cf19;
$red-ended: #df5764;
$blue-link: #1a82ff;
$alternative-link: #9cbffe;
$blue-fb: #4c76fd;
$licorice: #2f3544;

$color-team1: #5869fd;
$color-team2: #ef5f1f;

$header: #515b79;
$bg: #484e5e;
$frame-border: #272e46;
$frame-border-dark: #1d2338;
$frame-highlight: #6674b2;

$light-sky-blue: #97b8f9;
// Icons
