// =============================================================================
//
//  Font Includes:
//
//  @version    0.0.1
//
// =============================================================================

// -----------------------------------------------------------------------------
//  Fonts:
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'AvenirNextLTPro-UltLt';
  src: url('../fonts/AvenirNextLTPro-UltLt.eot');
  src: url('../fonts/AvenirNextLTPro-UltLt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextLTPro-UltLt.woff2') format('woff2'),
  url('../fonts/AvenirNextLTPro-UltLt.woff') format('woff'),
  url('../fonts/AvenirNextLTPro-UltLt.ttf') format('truetype');
  font-weight: 200;
  font-style: normal
}

@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url('../fonts/AvenirNextLTPro-Bold.eot');
  src: url('../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
  url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'),
  url('../fonts/AvenirNextLTPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'AvenirNextLTPro-Medium';
  src: url('../fonts/AvenirNextLTPro-Medium.eot');
  src: url('../fonts/AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextLTPro-Medium.woff2') format('woff2'), url('../fonts/AvenirNextLTPro-Medium.woff') format('woff'), url('../fonts/AvenirNextLTPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('../fonts/AvenirNextLTPro-Regular.eot');
  src: url('../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
  url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'),
  url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'AvenirNextLTPro-Heavy';
  src: url('../fonts/AvenirNextLTPro-Heavy.eot');
  src: url('../fonts/AvenirNextLTPro-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextLTPro-Heavy.woff2') format('woff2'),
  url('../fonts/AvenirNextLTPro-Heavy.woff') format('woff'),
  url('../fonts/AvenirNextLTPro-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: 'AvenirNextLTPro-Demi';
  src: url('../fonts/AvenirNextLTPro-Demi.eot');
  src: url('../fonts/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
  url('../fonts/AvenirNextLTPro-Demi.woff') format('woff'),
  url('../fonts/AvenirNextLTPro-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}
